<%- model_class = Article -%>
<div class="page-header">
  <% if current_user.present? %>
    <%= link_to 'Create new Article', new_article_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
      <tr>
      <% %w(Tags Title Content User).each do |coloumn| %>
        <th><%= coloumn %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Article.all.each do |article| %>
      <tr>
        <td><%= article.tags.pluck(:name).map(&:inspect).join(', ') %></td>
        <td><%= article.title %></td>
        <td><%= article.content.html_safe %></td>
        <td><%= article.user.try(:username) %></td>
        <td>
          <% if current_user.present? && current_user == article.try(:user) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_article_path(article), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        article_path(article),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
