<div class="page-header">
  <h1> Hints</h1>
  <% if current_user.present? %>
    <button type="button" class="btn btn-primary hint-modal" data-link='<%= new_hint_path %>'>Create new Hint</button>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <% %w(Theme Command Description Link User).each do |name| %>
        <th><%= name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @hints.each do |hint| %>
      <tr <%= "class=hint-modal" if current_user.present? && current_user == hint.try(:user) %> data-link='<%= edit_hint_path(hint) %>'>
        <td><%= hint.theme %></td>
        <td><%= hint.command %></td>
        <td><%= hint.description %></td>
        <td><%= link_to cut_link(hint.link), hint.link %></td>
        <td><%= hint.user.username if hint.user.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'form' %>
