<div class="page-header">
  <h1> Hints</h1>
  <% if current_user.present? %>
    <button type="button" class="btn btn-primary hint-modal" data-link='<%= new_hint_path %>'>Create new Hint</button>
  <% end %>
</div>
<table class="table table-striped table-responsive" id='main-table'>
  <thead>
    <tr>
      <% %w(Tags Command Description Link User).each do |coloumn| %>
        <th><%= coloumn %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hints.each do |hint| %>
      <tr>
        <td><%= hint.tags.pluck(:name).map(&:inspect).join(', ') %></td>
        <td><%= hint.command %></td>
        <td class='word-wrap'><%= hint.description %></td>
        <td><%= link_to cut_link(hint.link), hint.link, target: 'blank' %></td>
        <td><%= hint.user.username if hint.user.present? %></td>
        <td class='right'>
          <% if current_user.present? && current_user == hint.try(:user) %>
            <button type="button" class="btn btn-default btn-sm hint-modal" data-link='<%= edit_hint_path(hint) %>'>
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'modal' %>
