<p id="notice"><%= notice %></p>
<head>
<h1>MugenBlog</h1>
<% if current_user.present? %>
  <h3><%= "Dont forget your username: #{current_user.username}" %></h3>
  <h6>just to let you know</h6>
  <%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'sign_in', user_session_path %>
  <%= link_to 'register', new_user_registration_path %>
<% end %>

<br>
</head>
<body>
<h2>Hints</h2>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Command</th>
      <th>Description</th>
      <th>Link</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div style="width: 1000px">
      <% @hints.each do |hint| %>
        <tr>
          <td><%= hint.theme %></td>
          <td><%= hint.command %></td>
          <td><%= hint.description %></td>
          <td><%= link_to hint.link, hint.link %></td>
          <td><%= hint.try(:user).try(:username) || 'anon' %></td>
          <td><%= link_to 'Show', hint %></td>
          <% if current_user.present? %>
            <td><%= link_to 'Edit', edit_hint_path(hint) %></td>
            <td><%= link_to 'Destroy', hint, method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>
<% if current_user.present? %>
  <br>

  <h2>Add new hint</h2>

  <%= render 'form' %>
 <% end %>
</body>
<footer>капинотрайт <%= Time.now.year %></footer>
